:root {
  --accent: #f88500;
  --link-color-active: #74b9ff;
  --dark-grey: #2d3436;
  --light-grey: #b2bec3;
  --nice-green: #00b894;
  --grey: #636e72;

  --regular-text: 16px;
  --text: #333;
  --userfont: raleway-wt, sans-serif;
  --lineheight: 1.75;
}
