.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__back {
    position: absolute;
    width: 130px;
    height: 40px;
    border: 1px solid var(--light-grey);
    padding: 10px 20px;
    left: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--grey);
    opacity: 0.8;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 1;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  &__check {
    color: var(--nice-green);
  }
  &__title {
    margin-top: 15px;
  }
  &__questions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 25px;
  }
  &__body {
    margin-top: 50px;
    font-size: 17px;
    max-width: 80%;
    margin-bottom: 35px;
    @media screen and (max-width: 600px) {
      margin-top: 20px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 50px;
    @media screen and (max-width: 600px) {
      margin-top: 20px;
    }
  }
}

.test-result {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 150px;
  &__header {
    font-size: 18px;
    font-weight: bold;
  }
  &__body {
    font-size: 17px;
    margin-bottom: 40px;
  }
}
