.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-content {
  @media (max-width: 600px) {
    padding: 0 !important;
    margin-top: 70px !important;
  }
}

.site-layout-background {
  position: relative;
}

.tests {
  margin: 0 10px;
  &__settings {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__view {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    opacity: 0.6;
    &_active {
      opacity: 1;
    }
  }
  &__filters {
    * {
      margin-right: 5px;
    }
  }
  &__view-switchers {
    padding: 0 5px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &_cards {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      justify-items: center;
      row-gap: 20px;
    }
  }
}
