.test-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 80%;
  @media (max-width: 600px) {
    font-size: 16px;
  }
  @media (max-width: 400px) {
    font-size: 15px;
  }
  &_passed {
    opacity: 0.6;
  }
  &__more {
    font-weight: bold;
    color: var(--nice-green);
  }
  &__less {
    font-weight: bold;
    color: var(--fuxia);
  }
  &__circles {
    display: flex;
    align-items: center;
  }
  &__circle {
    border: 3px solid var(--grey);
    border-radius: 50%;
    width: clamp(15px, 3vw, 28px);
    height: clamp(15px, 3vw, 28px);
    margin: 20px 15px 10px;
    transition: background 0.5s ease;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (max-width: 800px) {
      margin: 15px 10px 7px;
    }
    @media screen and (max-width: 600px) {
      margin: 10px 7.5px 5px;
    }
    @media screen and (max-width: 370px) {
      margin: 5px 4px 2.5px;
    }
    &_center {
      &:hover {
        background: var(--grey);
      }
    }
    &_less {
      border-color: var(--fuxia);
      &:hover {
        background: var(--fuxia);
      }
    }
    &_more {
      border-color: var(--nice-green);
      &:hover {
        background: var(--nice-green);
      }
    }
    &_1 {
      font-size: 15px;
      width: clamp(25px, 4vw, 38px);
      height: clamp(25px, 4vw, 38px);
    }
    &_2 {
      font-size: 18px;
      width: clamp(32px, 5vw, 45px);
      height: clamp(32px, 5vw, 45px);
    }
    &_3 {
      font-size: 23px;
      width: clamp(42px, 6vw, 55px);
      height: clamp(42px, 6vw, 55px);
    }
    &_active-center {
      font-size: 12px;
      background: var(--grey);
    }
    &_active-less {
      background: var(--fuxia);
    }
    &_active-more {
      background: var(--nice-green);
    }
  }
}
