.search {
  color: white;
  position: relative;
  @media (max-width: 600px) {
    display: none;
  }
  &__input {
    background: none;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding: 5px 10px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__submit {
    padding: 5px 10px;
    background: none;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    transition: color 0.5s ease;
    &:hover,
    &:active {
      color: #00b894;
    }
  }
  &__results {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 196px;
    min-height: 30px;
    border: 1px solid var(--grey);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--dark-grey);
  }
  &__result {
    padding: 10px;
    border-bottom: 1px solid var(--light-grey);
    color: #ffffff;
    transition: color 0.5s ease;
    &:last-child {
      border: none;
    }
    &:hover {
      color: var(--nice-green);
    }
  }
}
