.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--userfont);
  min-width: 100%;
  background: var(--dark-grey);
  padding: 15px 50px 20px;
  position: fixed;
  z-index: 999;
  &__logo {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: var(--link-color-active);
    }
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__login {
    color: var(--light-grey);
    font-size: 23px;
    margin-left: 30px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.5s ease, border-color 0.5s ease;
    &:hover {
      color: var(--nice-green);
      border-color: var(--nice-green);
    }
    &_active {
      color: var(--nice-green);
      border-color: var(--nice-green);
    }
  }
}
